<h1>The Overlook Hotel</h1>
<%= image_tag("https://s-ec.bstatic.com/images/hotel/max1024x768/339/33950154.jpg", :alt => "Overlook Hotel") %>
<p>Experience total isolation that'll leave you reeling.</p>
