<h1>List of Rooms avaliable:</h1>

<ul>
  <li>
    <p>CLASSIC ROOMS</p>
    <p>KING + QUEEN</p>
    <p>The Classic rooms are located within the main building of The Overlook Hotel. Each room includes a comfortable queen bed, king bed or two queen beds; free Wi-Fi + 42” LG flat screen televisions! Experience the history of The Overlook Hotel!</p>
  </li>
  <li>
    <p>DELUXE KING ROOMS</p>
    <p>All the Deluxe rooms are located in the main building of the Overlook Hotel. The Deluxe King Rooms are more spacious rooms that include a comfortable king bed with custom, hand-made bedding; a Jacuzzi tub; free Wi-Fi; + 42” LG flat screen televisions! Experience the history of The Overlook Hotel!</p>
  </li>
  <li>
    <p>SUPERIOR KING ROOMS</p>
    <p>All the Superior King rooms are located in the main building of the Overlook Hotel. The Superior King Rooms are more spacious rooms that include a comfortable king bed with custom, hand-made bedding; a great view of the surrounding Rocky Mountains, a Jacuzzi tub, free Wi-Fi, + 42” LG flat screen televisions!</p>
  </li>
  <li>
    <p>OVERLOOK SUITES </p>
    <p>The Overlook traditional suite offers one or two beds with a separate living room.  A full sleeper sofa in the living room is great for small families, or for couples looking for some extra space to enjoy the historic ambiance of our guest rooms.</p>
  </li>
  <li>
    <p>PRESIDENTIAL COTTAGE</p>
    <p>The Presidential Cottage features three bedrooms and two and a half baths on the main and upper level (each with a king size bed), as well as a kitchenette, a dining and living room area, and a private deck off the living room and master bedroom. In addition, two garden-level units  can be opened to the main cottage, each with their own king bed and bathroom. Sold together, the Presidential Cottage features five bedrooms and four-and a half bathrooms. The Presidential Cottage is air-conditioned.</p>
  </li>
</ul>
